*{
    padding: 0px;
    margin: 0px;
}
#panelOK{
    background-color: yellowgreen;
}
#panelError{
    background-color: tomato;
}
#panelControl{
    background-color: aquamarine;
}
#panelResultado{
    background-color: pink;
}
.panel{
    width: 50%;
    height: 100px;
    overflow: auto;
    float: left;
}
